.gradient-custom-3 {
    /* fallback for old browsers */
    background: #e8e8e8;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #e8e8e8, #e8e8e8);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #e8e8e8, #e8e8e8)
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #666666;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #666666, #666666);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #666666, #666666);
    }